<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: frag-head">
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<body>
	<header th:insert="layout/layout :: frag-header"></header>
	<div th:replace="/layout/layout :: frag-sidebar"></div>
	<main>
	
	<section class ="section">
		<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="#">Home</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Customer</li>
		  </ol>
		</nav>
	
		<div class="card text-center">
		  <div class="card-header">
		    Customers
		  </div>
		  <div class="card-body">
		    
				<table class="table">
				  <thead>
				    <tr class="table-danger">
				      <th scope="col">#</th>
				      <th scope="col">Email</th>
				      <th scope="col">First Name</th>
				      <th scope="col">Last Name</th>
				      <th scope="col">Phone</th>
				      <th scope="col">Address</th>
				      <th scope="col">sadsa </th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="customer : ${customers}">
				      <th scope="row" th:text="${customer.id}"></th>
				      <td th:text="${customer.email}"></td>
				      <td th:text="${customer.firstName}"></td>
				      <td th:text="${customer.lastName}"></td>
				      <td th:text="${customer.phone}"></td>
				      <td th:text="${customer.address}"></td>
				      <td>
				      <a class="btn btn-warning" href="#" role="button"><i class="fas fa-cog"></i></a>
				      <a class="btn btn-secondary" href="#" role="button"><i class="fas fa-trash"></i></a>
				      </td>
				    </tr>
				  </tbody>
				</table>
						    
		  </div>
		  <div class="card-footer text-muted">
		   <a class="btn btn-danger" th:href="@{/customers/new}" role="button"><i class="fas fa-plus-circle"></i></a>
		  </div>
		</div>
	</section>
	
	</main>
	<footer th:replace="layout/layout :: frag-footer"></footer>
</body>
</html>