<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="frag-head">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<script src="https://kit.fontawesome.com/65219acda5.js"
	crossorigin="anonymous"></script>
<link th:href="@{/css/solid.min.css}" rel="stylesheet">
<link th:href="@{/css/sidebar.css}" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
	rel="stylesheet">
<title>FavEat</title>

<style>
body {
	background-color: #EFEFEF;
	font-family: 'Abel', sans-serif;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
</head>
<body>
	<header th:fragment="frag-header">
		<nav class="navbar navbar-expand-lg border-bottom position-relative"
			style="background-color: #130d21">
			<div class="container-fluid">
				<a class="nav-link btn"> <i class="fas fa-bars"
					id="sidebarToggle" style="color: white"></i></a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="d-flex justify-content-center logo-container fs-2">
					<a href="/" class=""
						style="font-family: 'Caveat Brush', cursive; color: white; text-decoration: none">
						<img class="logo-sidebar" th:src="@{/img/LogoOficial.png}"
						width="50em" height="50em" alt="" /> FavEat
					</a>
				</div>
				<div
					class="align-items-center position-absolute top-2 start-50 translate-middle-x">

					<form class="d-flex" th:action="@{/find_food}" method="post"
						th:object="${food}">
						<input type="text" class="form-control me-2" th:field="*{name}"
							id="cat" placeholder="Search" aria-label="Search">
						<button class="btn" style="background-color: #EA3C3C"
							type="submit">
							<i class="fas fa-search" style="color: white"></i>
						</button>
					</form>
				</div>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<div class="navbar-nav ms-auto mt-2 mt-lg-15">
						
							<a sec:authorize="isAnonymous()" class="btn btn-outline-danger" th:href="@{/login}" role="button"><i class="fas fa-user"></i> Sign-in</a>
					</div>
				</div>
				<div class="dropdown" sec:authorize="isAuthenticated()" style="padding-left: 10px; margin-right: 70px;">
					<a class="btn btn-outline-danger dropdown-toggle" href="#"
						role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
						aria-expanded="false"> <i class="fas fa-user-circle"></i> <span
						sec:authentication="name">Username</span>
					</a>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<li><a class="dropdown-item" href="#">View Profile</a></li>
						<li><a class="dropdown-item" href="#">Change Password</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div id="wrapper" class="position-fixed" th:fragment="frag-sidebar">
		<div id="sidebar-wrapper" style="background-color: #130d21">
			<div class="d-flex justify-content-end pt-4 pe-4">
				<a class="btn"> <i class="fa-solid fa-xmark" id="sidebarToggled"
					style="color: white"></i></a>
			</div>
			<div class="list-group list-group-flush text-left p-5">
				<a class="list-group-item list-group-item-action p-3"
					th:href="@{/restaurants}"
					style="background-color: #130d21; color: white"><i
					class="fa-solid fa-utensils"></i> Restaurantes</a> <a
					class="list-group-item list-group-item-action  p-3" href="#!"
					style="background-color: #130d21; color: white"><i
					class="fa-solid fa-bag-shopping"></i> Mis Pedidos</a> <a
					class="list-group-item list-group-item-action p-3" href="#!"
					style="background-color: #130d21; color: white"><i
					class="fa-solid fa-cart-shopping"></i> Carrito</a> <a
					class="list-group-item list-group-item-action  p-3" href="#!"
					style="background-color: #130d21; color: white"><i
					class="fa-solid fa-building"></i> Mi Restaurante</a> <a
					class="list-group-item list-group-item-action p-3"
					th:href="@{/protocolo}"
					style="background-color: #130d21; color: white"><i
					class="fa-solid fa-mask-face"></i> Protocolo</a> <a
					class="list-group-item list-group-item-action p-3"
					th:href="@{/support}"
					style="background-color: #130d21; color: white"><i
					class="fa-solid fa-headset"></i> Soporte</a>

				<hr style="color: white">
				<div>
					<button style="color: white"
						class="btn btn-toggle align-items-center rounded collapsed"
						data-bs-toggle="collapse" data-bs-target="#restaurant-collapse"
						aria-expanded="false">
						<i class="fa-solid fa-angle-down me-1"></i> Restaurants
					</button>
					<div class="collapse" id="restaurant-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a th:href="@{/menus}" class="link-dark rounded"
								style="color: white">MenuRestaurant</a></li>
							<li><a th:href="@{/foods}" class="link-dark rounded"
								style="color: white">Foods</a></li>
						</ul>
					</div>
				</div>
				<div>
					<button style="color: white"
						class="btn btn-toggle align-items-center rounded collapsed"
						data-bs-toggle="collapse" data-bs-target="#delivery-collapse"
						aria-expanded="false">
						<i class="fa-solid fa-angle-down me-1"></i> Delivery
					</button>
					<div class="collapse" id="delivery-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li sec:authorize="hasRole('ROLE_CUSTOMER')"><a th:href="@{/deliverys}" class="link-dark rounded"
								style="color: white">Delivery</a></li>
							<li><a th:href="@{/deliverymans}" class="link-dark rounded"
								style="color: white">Delivery Man</a></li>
						</ul>
					</div>
				</div>
				<div>
					<button style="color: white"
						class="btn btn-toggle align-items-center rounded collapsed"
						data-bs-toggle="collapse"
						data-bs-target="#reservationPayment-collapse"
						aria-expanded="false">
						<i class="fa-solid fa-angle-down me-1"></i> Reservation
					</button>
					<div class="collapse" id="reservationPayment-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a th:href="@{/reservationPayments-bs}"
								class="link-dark rounded" style="color: white">ReservationPayment</a></li>
							<li><a th:href="@{/creditCards-bs}"
								class="link-dark rounded" style="color: white">Credit Card</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<main>

		<div id="carouselExampleSlidesOnly" class="carousel slide"
			style="margin-top: -1px">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="bd-placeholder-img">
						<img th:src="@{/img/carouselOne.png}" width="100%" />
					</div>
					<div class="container">
						<div class="carousel-caption">
							<h1>FavEat el mejor servicio de delivery y reservas en el
								Perú.</h1>
							<p>En este sitio web encontraras diversos restaurantes</p>
							<p>
								<a class="btn btn-lg float-sm-none"
									style="background-color: #EA3C3C; color: white" href="#">Ver
									mas</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container marketing">



			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading">¿Quiénes Somos?</h2>
					<p class="lead">Nuestro StartUp está enfocado a dar soluciones
						tecnológicas mediante el desarrollo de aplicaciones web para todas
						las empresas que requieran este servicio.</p>
					<p class="fw-bold fs-4">Mision:</p>
					<p>Crear una aplicación en donde las personas puedan encontrar
						un restaurante que satisfaga sus requerimientos.</p>
					<p class="fw-bold fs-4">Vision:</p>
					<p>Llegar a ser la una empresa líder y que nos reconozcan por
						nuestra calidad de trabajo, además, lograr ampliar la red de
						contactos y brindar servicios en otros países.</p>
				</div>
				<div class="col-md-5">
					<div class="d-flex justify-content-center logo-container mt-3 btn"
						th:href="@{/menu-restaurants}">
						<img class="logo-sidebar" th:src="@{/img/LogoOficial.png}"
							width="100%" height="100%" alt="" />
					</div>


				</div>
			</div>

			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-7 order-md-2">
					<h2 class="featurette-heading">¿Qué ofrecemos?.</h2>
					<p class="lead">Nuestras aplicaciones web tienen como propósito
						ayudar a las personas, brindando sugerencias de restaurantes
						ubicados en la ciudad de Lima según sus platos de comida
						solicitados. Además, proporciona la reserva de mesas y pedidos
						antes de acudir al restaurante deseado. A su vez, se podrán
						realizar pedidos por delivery y recojo en restaurante.</p>
				</div>
				<div class="col-md-4 order-md-1">
					<div class="d-flex justify-content-center logo-container mt-3 btn"
						th:href="@{/menu-restaurants}">
						<img class="logo-sidebar" th:src="@{/img/offer-faveat.png}"
							width="100%" height="100%" alt="" />
					</div>

				</div>
			</div>
		</div>
		<hr class="featurette-divider">
	</main>
	<footer th:replace="/layout/layout :: frag-footer"></footer>


</body>
</html>