<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
	<meta charset="ISO-8859-1">
	<title>Category</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<div th:replace="/layout/layout :: frag-sidebar"></div>
<main>
	
  <section>
  
  	<nav aria-label="breadcrumb" class="margin-20">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Home</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Categories</li>
	  </ol>
	</nav>
	
	<div class="card text-center margin-20">
	  <div class="card-header">
	    Categories
	  </div>
	  <div class="card-body">
	    
	    <table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">categoryName</th>
		      <th scope="col">type</th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="category : ${categories}">
			  <th scope="row" th:text="${category.id}">1</th>
		      <td th:text="${category.categoryName}">Mark</td>
		      <td th:text="${category.type}">Otto</td>
		
		      <td>
		      	<a class="btn btn-warning" th:href="@{'/categories/' + ${category.id} + '/edit'}" role="button"> <i class="fas fa-edit"></i> </a>
		      	<a class="btn btn-danger" th:href="@{'/categories/' + ${category.id} + '/del'}" role="button"> <i class="fas fa-trash-alt"></i> </a>
		      </td>
		    </tr>
		  </tbody>
		</table>
	    
	  </div>
	  <div class="card-footer text-muted">
	    <a class="btn btn-primary" th:href="@{/categories/new}" role="button"> <i class="fas fa-plus"></i> New </a>
	  </div>
	</div>
  </section>

</main>
<footer th:replace="layout/layout :: frag-footer"></footer>	

</body>
</html>