<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>Editar Reservación</title>
</head>
<body>
	<header th:replace="/layout/layout :: frag-header"></header>
	<div th:replace="/layout/layout :: frag-sidebar"></div>
	<main>

		<section>

			<nav aria-label="breadcrumb" class="mt-2 mx-3">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Inicio</a></li>
					<li class="breadcrumb-item"><a th:href="@{/reservations}">Reservaciones</a></li>
					<li class="breadcrumb-item active" aria-current="page">Editar</li>
					<li class="breadcrumb-item active" aria-current="page">Reservaciones</li>
				</ol>
			</nav>

			<div class="card text-center margin-20">
				<div class="card-header"></div>
				<div class="card-body" style="text-align: left;">

					<form th:action="@{'/reservations/' + ${reservation.id} + '/update'}"
						th:object="${reservation}" method="post"
						class="row g-3 needs-validation" novalidate>
						<div class="col-md-3">
							<label for="typeReservation" class="form-label">Tipo de Reservacion</label> <input
								type="text" class="form-control" th:field="*{typeReservation}" required>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="col-md-3">
							<label for="dateStartReservation" class="form-label">Dia Inicio de Reservacion</label> <input
								type="text" class="form-control" th:field="*{dateStartReservation}"
								required>
							<div class="valid-feedback">Looks good!</div>
						</div>
						
						<div class="col-md-3">
							<label for="dateEndReservation" class="form-label">Dia Termino de Reservacion</label> <input
								type="text" class="form-control" th:field="*{dateEndReservation}"
								required>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="col-12" style="text-align: center;">
							<button class="btn" style="background-color:black; color:white" type="submit">
								<i class="fas fa-save"></i> Actualizar
							</button>
						</div>
					</form>

				</div>
			</div>
		</section>

	</main>
	<footer th:replace="/layout/layout :: frag-footer"></footer>
</body>
</html>