<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>Lista de Reservaciones</title>
</head>
<body>
	<header th:replace="/layout/layout :: frag-header"></header>
	<div th:replace="/layout/layout :: frag-sidebar"></div>
	<main>
		<section>
			<nav aria-label="breadcrumb" class="mt-3 mx-5">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#"> Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Reservations</li>
				</ol>
			</nav>
			<div class="card text-center margin-20">
				<div class="card-body">

					<h2 class="h3 mb-4 text-gray-800">Reservations</h2>
					<div class="card-footer text-muted text-end">
						<a class="btn" style="background-color: black; color: white"
							th:href="@{/reservations/new}" role="button"> <i
							class="fas fa-plus"></i> New Reservations
						</a>
					</div>
					
					<div class="row">
						<div th:each="reservation : ${reservations}" class="col-sm-6">
							<div class="card" style="margin-bottom: 25px;">
								<div class="card-body">
									<h5 th:text="${reservation.typeReservation}" class="card-title">Tipo de Reservacion</h5>
									<p th:text="${'Start Day: ' + reservation.dateStartReservation}" class="card-text"></p>
									<p th:text="${'End Day: ' + reservation.dateEndReservation}" class="card-text"></p>
									<a class="btn btn-danger"
										th:href="@{'/reservations/' + ${reservation.reservationId} + '/del'}"
										role="button"> <i class="fas fa-trash-alt"></i> Delete Reservation
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>
	<footer th:replace="/layout/layout :: frag-footer"></footer>
</body>
</html>