.container{
	display: flex;
	align-items: center;
	justify-content: center;

}
.container-card{
	display: flex;

	height: auto;
}

.header-deliveryman, .photo-deliveryman{
	padding: 20px;
	text-align: center;
}