<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">

</head>
<body>
	<header th:insert="layout/layout :: frag-header"></header>
	<main>
	
	<section>
		<div class="card text-center">
		  <div class="card-header">
		    Restaurant Owners
		  </div>
		  <div class="card-body">
		    
				<table class="table">
				  <thead>
				    <tr class="table-danger">
				      <th scope="col">#</th>
				      <th scope="col">Email</th>
				      <th scope="col">First Name</th>
				      <th scope="col">Last Name</th>
				      <th scope="col">Phone</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="restaurantowner : ${restaurantowners}">
				      <th scope="row" th:text="${customer.id}"></th>
				      <td th:text="${restaurantowner.email}"></td>
				      <td th:text="${restaurantowner.firstName}"></td>
				      <td th:text="${restaurantowner.lastName}"></td>
				      <td th:text="${restaurantowner.phone}"></td>
				    </tr>
				  </tbody>
				</table>
						    
		  </div>
		  <div class="card-footer text-muted">
		    FavEat
		  </div>
		</div>
	</section>
	
	</main>
	<footer th:replace="layout/layout :: frag-footer"></footer>
</body>
</html>