<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>Nuevo Plato de Comida</title>
</head>
<body>
<header th:replace="layout/layout :: frag-header"></header>
	<div th:replace="/layout/layout :: frag-sidebar"></div>
	<main>

	<section>

			<nav aria-label="breadcrumb" class="mt-2 mx-3">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a th:href="@{/foods}">Menus</a></li>
					<li class="breadcrumb-item active" aria-current="page">New</li>
				</ol>
			</nav>

			<div class="card text-center margin-20">
				<div class="card-header">Foods</div>
				<div class="card-body" style="text-align: left;">

					<form th:action="@{/myRestaurant/savenewFood}" th:object="${food}"
						method="post" class="row g-3 needs-validation" novalidate>
						<div class="col-md-3">
							<label for="name" class="form-label">Food name</label> <input
								type="text" class="form-control" th:field="*{name}" required>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="col-md-3">
							<label for="cost" class="form-label">Price</label> <input
								type="text" class="form-control" th:field="*{cost}" required>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="col-md-3">
							<label for="stock" class="form-label">Stock</label> <input
								type="text" class="form-control" th:field="*{stock}" required>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="col-md-2">
							<label for="description" class="form-label">Description</label> <input
								class="form-control" th:field="*{description}" required>
							<div class="valid-feedback">Looks good!</div>
						</div>

						<div class="col-md-4">
							<label for="image" class="form-label">Image</label>
							<input type="text" class="form-control" th:field="*{image}" required>
						</div>
						
						<div class="col-md-4">
							<label for="menuRestaurant" class="form-label">Menu</label> <select
								class="form-select" th:field="*{menuRestaurant}" required>
								<option selected disabled value="">Choose...</option>
								<option th:each="menuRestaurant : ${menuRestaurants}"
									th:value="${menuRestaurant.id}"
									th:text="${menuRestaurant.type}">...</option>
							</select>
							<div class="invalid-feedback">Please select a valid state.
							</div>
						</div>
						
						<div class="col-12" style="text-align: center;">
							<button class="btn" style="background-color: black; color: white"
								type="submit">
								<i class="fas fa-save"></i> Save
							</button>
						</div>
					</form>

				</div>
				<div class="card-footer text-muted"></div>
			</div>
		</section>


	</main>
	<footer th:replace="layout/layout :: frag-footer"></footer>
</body>
</html>