<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>Lista de Menus</title>
</head>
<body>
	<header th:replace="layout/layout :: frag-header"></header>
	<div th:replace="/layout/layout :: frag-sidebar"></div>
	<main>

		<section>

			<nav aria-label="breadcrumb" class="mt-2 mx-3">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a th:href="@{/menus}">Menus</a></li>
					<li class="breadcrumb-item active" aria-current="page">New</li>
				</ol>
			</nav>

			<div class="card text-center margin-20">
				<div class="card-header">Menu Restaurant</div>
				<div class="card-body" style="text-align: left;">

					<form th:action="@{/myRestaurant/savenewMenu}" th:object="${menuRestaurant}"
						method="post" class="row g-3 needs-validation" novalidate>
						<div class="col-md-3">
							<label for="type" class="form-label">Type</label> <input
								type="text" class="form-control" th:field="*{type}" required>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="col-md-3">
							<label for="description" class="form-label">description</label> <input
								type="text" class="form-control" th:field="*{description}"
								required>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="col-md-4">
							<label for="restaurant" class="form-label">Restaurant</label> <select
								class="form-select" th:field="*{restaurant}" required>
								<option selected disabled value="">Choose...</option>
								<option th:each="restaurant : ${restaurants}"
									th:value="${restaurant.id}"
									th:text="${restaurant.name_restaurant}">...</option>
							</select>
							<div class="invalid-feedback">Please select a valid state.
							</div>
						</div>
						<div class="col-12" style="text-align: center;">
							<button class="btn" style="background-color:black; color:white" type="submit">
								<i class="fas fa-save"></i> Save
							</button>
						</div>
					</form>

				</div>
				<div class="card-footer text-muted"></div>
			</div>
		</section>

	</main>
	<footer th:replace="/layout/layout :: frag-footer"></footer>
</body>
</html>