<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: frag-head">
<meta charset="ISO-8859-1">

<title>Mis Deliverys</title>

</head>
<body>
	<header th:insert="layout/layout :: frag-header"></header>
	<div th:replace="/layout/layout :: frag-sidebar"></div>
	<main>

		<section class="section">
			<nav style="-bs-breadcrumb-divider: '&gt;';" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Boletas de Delivery</li>
				</ol>
			</nav>
			
			<div>
				<div class="card-header">Mis Boletas de Delivery</div>
				<!--  div class="card-footer text-muted text-end">
						<a class="btn" style="background-color: red; color: white"
							th:href="@{/deliverys/new}" role="button"> <i class="fas fa-plus"></i>
							Realizar nuevo pedido
						</a>
				</div-->
				<div class="card-body" style="justify-content: end;">
					<div class="row" >
						<div th:each="delivery : ${deliverys}" class="col-sm-4">
							<div class="card">
								
								
								<div  class="card-body">
								<h5 class="card-title" th:text="${delivery.order.restaurant.name_restaurant}">name</h5>
								<p th:text="${delivery.order.restaurant.location}"></p>	
								<p>Lima</p>	
								<h4>BOLETA DE VENTA ELECTRONICA</h4>
					
								<p>Tipo   :DELIVERY</p>
								<p>Tipo de pago  : Tarjeta</p>
								<p>Repartidor     : <span th:text="${delivery.deliveryMan.firstName} + ' ' + ${delivery.deliveryMan.lastName}"></span></p>
								<p>Tipo Moneda    :Soles</p>
								<p>---------------------------------------------------------</p>
								<p>Producto: <span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Total: </span></p>
								<p>---------------------------------------------------------</p>
								<p><span th:text="${delivery.order.food.name} + ' &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;' + ${delivery.order.food.cost}"></span></p>
								<p>Propina: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;<span th:text="${delivery.tip}"></span></p>
								<p>---------------------------------------------------------</p>
								<p>Total a Pagar: &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;<span th:text="${(delivery.tip + delivery.order.food.cost)}"></span> soles</p>
								<div class="text-center"><img th:src="@{/img/Commons_QR_code.png}" width="100em" height="100em"></div>
								</div>
								
							</div>
							
						</div>
					



					</div>
					<!--table class="table">
				  <thead>
				    <tr class="table-danger">
				      <th scope="col">#</th>
				      <th scope="col">Tip</th>
				      <th scope="col">Description</th>
				      <th scope="col">Date of Delivery</th>
				       <th scope="col">DeliveryMan</th>
				      <th scope="col"></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="delivery : ${deliverys}">
				      <th scope="row" th:text="${delivery.id}"></th>
				      <td th:text="${delivery.tip}"></td>
				      <td th:text="${delivery.description}"></td>
				      <td th:text="${delivery.dateDelivery}"></td>
				      <td th:text="${delivery.deliveryMan.firstName}"></td>
				      
				      <td>
				      <a class="btn btn-warning" th:href="@{'/deliverys/' + ${delivery.id} + '/edit'}" role="button"><i class="fas fa-cog"></i></a>
				      <a class="btn btn-danger" th:href="@{'/deliverys/' + ${delivery.id} + '/delete'}" role="button"><i class="fas fa-trash"></i></a>
				      </td>
				    </tr>
				  </tbody>
				</table-->

				</div>
				<div class="card-footer text-muted">
					<!--  a class="btn btn-danger"
											th:href="@{'/deliverys/' + ${delivery.id} + '/delete'}"
											role="button"><i class="fas fa-times-circle"></i> Cancelar Delivery</a-->
				</div>
			</div>
			<!-- a class="btn btn-warning"role="button" style="text-align: center; margin-left:650px;"> <i class="fas fa-star"></i> Calificar repartidor</a-->
		</section>
		
	</main>
	<footer th:replace="layout/layout :: frag-footer"></footer>
</body>
</html>