<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>Lista de Comidas</title>
</head>
<body>
	<header th:replace="/layout/layout :: frag-header"></header>
	<div th:replace="/layout/layout :: frag-sidebar"></div>
	<main>

		<section class ="section">
		<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="#">Home</a></li>
		    <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/foods}">Food</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Edit</li>
		  </ol>
		</nav>
	
		<div class="card text-center">
		  <div class="card-header">
		   Edit Delivery
		  </div>
		  <div class="card-body" style="text-align: left;">
			<form th:action="@{'/foods/' + ${food.id} + '/update'}" th:object="${food}" method="post" class="row g-3 needs-validation" novalidate>
				  <div class="col-md-2">
				    <label for="name" class="form-label">Name</label>
				    <input type="text" class="form-control" th:field="*{name}" required>
				    <div class="valid-feedback">
				      Looks good!
				    </div>
				  </div>
				  <div class="col-md-4">
				    <label for="description" class="form-label">Description</label>
				    <input type="text" class="form-control" th:field="*{description}" required>
				    <div class="valid-feedback">
				      Looks good!
				    </div>
				  </div>
				   <div class="col-md-4">
				    <label for="cost" class="form-label">Cost</label>
				    <input type="text" class="form-control" th:field="*{cost}" required>
				    <div class="valid-feedback">
				      Looks good!
				    </div>
				  </div>
				   <div class="col-md-4">
				    <label for="image" class="form-label">Image</label>
				    <input type="text" class="form-control" th:field="*{image}" required>
				    <div class="valid-feedback">
				      Looks good!
				    </div>
				  </div>
				  
				  <div class="col-md-3">
				    <label for="menuRestaurant" class="form-label">Menu Restaurant</label>
				    <select class="form-select" th:field="*{menuRestaurant}" required>
				      <option value="">Choose...</option>
				      <option th:each="menuRestaurant : ${menuRestaurants}" th:value="${menuRestaurant.id}" th:text="${menuRestaurant.type}"></option>
				    </select>
				    <div class="invalid-feedback">
				      Please select a valid state.
				    </div>
				  </div>
					  
				  <div class="col-12" style="text-align: center;">
				   <button class="btn btn-warning" type="submit"><i class="fas fa-save"></i> Edit</button>
				  </div>
				</form>
						  
						  
						  
 		</div>
		 
		</div>
	</section>
	</main>
	<footer th:replace="/layout/layout :: frag-footer"></footer>
</body>
</html>