<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>Lista de Comidas</title>
</head>
<body>
	<header th:replace="/layout/layout :: frag-header"></header>
	<div th:replace="/layout/layout :: frag-sidebar"></div>
	<main>
		<section>
			<nav aria-label="breadcrumb" class="mt-3 mx-5">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#"> Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Foods</li>
				</ol>
			</nav>
			<div class="card  text-center margin-20">
				<div class="card-body">

					<h2 class="h3 mb-4 text-gray-800">Foods</h2>
					<div class="card-footer text-muted text-end">
						<a class="btn" style="background-color: black; color: white"
							th:href="@{/foods/new}" role="button"> <i class="fas fa-plus"></i>
							New Food
						</a>
					</div>
					<table class="table table-striped text-center">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Type Menu</th>
								<th scope="col">Food</th>
								<th scope="col">Description</th>
								<th scope="col">Cost</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="food : ${foods}">
								<th scope="row" th:text=${food.id}></th>
								<td th:text=${food.menuRestaurant.type}></td>
								<td th:text=${food.name}></td>
								<td th:text=${food.description}></td>
								<td th:text=${food.cost}></td>
								<td><a class="btn btn-warning"
									th:href="@{'/foods/' + ${food.id} + '/edit'}" role="button">
										<i class="fas fa-edit"></i>
								</a> <a class="btn btn-danger"
									th:href="@{'/foods/' + ${food.id} + '/del'}" role="button">
										<i class="fas fa-trash-alt"></i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</section>
		<section>

			<div class="row d-flex justify-content-center">
				<div class="card mb-3 mx-5 mt-5 mb-5 col-6"
					style="max-width: 540px;" th:each="food : ${foods}">
					<div class="row g-0">
						<div class="col row align-items-center">
							<img th:src="${food.image}" class="img-fluid rounded-start ms-0"
								width="100%">
						</div>
						<div class="col-md-8" style="width: 18rem;">
							<div class="card-body">
								<h5 class="card-title" th:text=${food.name}></h5>
								<p class="card-text text-start">
									<small class="text-muted">Stock:</small> <small
										class="text-muted" th:text=${food.stock}></small>
								</p>
								<p class="card-text text-end">
									<small class="text-muted">S/.</small> <small class="text-muted"
										th:text=${food.cost}></small>
								</p>
								<p class="card-text" th:text=${food.description}></p>
								<a class="btn" th:href="@{/orders}"
									style="background-color: #130d21; color: white; text-decoration: none"><i
									class="fa-solid fa-plus"></i> Realizar orden</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer th:replace="/layout/layout :: frag-footer"></footer>
</body>
</html>