<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>Nuevo Órden de Pedido</title>
</head>
<body>
	<header th:replace="layout/layout :: frag-header"></header>
	<div th:replace="/layout/layout :: frag-sidebar"></div>
	<main>

		<section>

			<nav aria-label="breadcrumb" class="mt-2 mx-3">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a th:href="@{/orders}">Orders</a></li>
					<li class="breadcrumb-item active" aria-current="page">New</li>
				</ol>
			</nav>

			<div class="card text-center margin-20">
				<div class="card-header">Orders</div>
				<div class="card-body" style="text-align: left;">

					<form th:action="@{/orders/savenew}" th:object="${order}"
						method="post" class="row g-3 needs-validation" novalidate>
						<div class="col-md-3">
							<label for="restaurant" class="form-label">Restaurant</label> <select
								class="form-select" th:field="*{restaurant}" required>
								<option value="">Elige un restaurante</option>
								<option th:each="restaurant : ${restaurants}"
									th:value="${restaurant.id}"
									th:text="${restaurant.name_restaurant}"></option>
							</select>
							<div class="invalid-feedback">Please select a valid state.
							</div>
						</div>



						<div class="col-md-4">
							<label for="dateOrder" class="form-label">Date of
								Delivery</label> <input type="date" class="form-control"
								th:field="*{dateOrder}" required>
							<div class="valid-feedback">Looks good!</div>
						</div>

						<div class="col-md-4">
							<label for="description" class="form-label">Description</label> <input
								type="text" class="form-control" th:field="*{description}"
								required>
							<div class="valid-feedback">Looks good!</div>
						</div>

						<div class="col-md-3">
							<label for="food" class="form-label">Food</label> <select
								class="form-select" th:field="*{food}" required>
								<option value="">Elige un comida</option>
								<option th:each="food : ${foods}" th:value="${food.id}"
									th:text="${food.name}"></option>
							</select>
							<div class="invalid-feedback">Please select a valid state.
							</div>
							
							<div class="card-footer text-muted">
								<a class="btn btn-dark" href="@{orders}" role="button"><i
									class="fas fa-plus-circle"></i></a>
							</div>
						</div>


						<div class="col-12" style="text-align: center;">
							<button class="btn" style="background-color: black; color: white"
								type="submit">
								<i class="fas fa-save"></i> Save
							</button>
						</div>
					</form>

				</div>
				<div class="card-footer text-muted"></div>
			</div>
		</section>

	</main>
	<footer th:replace="layout/layout :: frag-footer"></footer>
</body>
</html>