<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>Editar Mesas</title>
</head>
<body>
	<header th:replace="/layout/layout :: frag-header"></header>
	<div th:replace="/layout/layout :: frag-sidebar"></div>
	<main>

		<section>

			<nav aria-label="breadcrumb" class="mt-2 mx-3">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a th:href="@{/menus}">Menus</a></li>
					<li class="breadcrumb-item active" aria-current="page">Edit</li>
					<li class="breadcrumb-item active" aria-current="page">Menus</li>
				</ol>
			</nav>

			<div class="card text-center margin-20">
				<div class="card-header"></div>
				<div class="card-body" style="text-align: left;">

					<form th:action="@{'/mesas/' + ${mesa.tablesId} + '/update'}"
						th:object="${mesa}" method="post"
						class="row g-3 needs-validation" novalidate>
						<div class="col-md-3">
							<label for="typeTable" class="form-label">Type</label> <input
								type="text" class="form-control" th:field="*{typeTable}" required>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="col-md-3">
							<label for="capacityTable" class="form-label">Description</label> <input
								type="text" class="form-control" th:field="*{capacityTable}"
								required>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="col-12" style="text-align: center;">
							<button class="btn" style="background-color:black; color:white" type="submit">
								<i class="fas fa-save"></i> Update
							</button>
						</div>
					</form>

				</div>
			</div>
		</section>

	</main>
	<footer th:replace="/layout/layout :: frag-footer"></footer>
</body>
</html>