<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
	<meta charset="ISO-8859-1">
	<title>Edit DeliveryMan</title>
</head>
<body>
	<header th:insert="layout/layout :: frag-header"></header>
	<main>
	
	<section class ="section">
		<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="#">Home</a></li>
		    <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/deliverymans}">Delivery Man</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Edit</li>
		  </ol>
		</nav>
		
		<div class="card text-center">
		  <div class="card-header">
		    Edit Delivery Man
		  </div>
		  <div class="card-body" style="text-align: left;">
		  
			<form th:action="@{'/deliverymans/' + ${deliveryman.id} + '/update'}" th:object="${deliveryman}" method="post" class="row g-3 needs-validation" novalidate>
			
			
				<div class="col-md-4">
				    <label for="email" class="form-label">Email</label>
				    <input type="text" class="form-control" th:field="*{email}" required>
				    <div class="valid-feedback">
				      Looks good!
				    </div>
				</div>
				
				<div class="col-md-3">
				    <label for="lastName" class="form-label">Last name</label>
				    <input type="text" class="form-control" th:field="*{lastName}" required>
				    <div class="valid-feedback">
				      Looks good!
				    </div>
				</div>
			
			  <div class="col-md-3">
			    <label for="firstName" class="form-label">First name</label>
			    <input type="text" class="form-control" th:field="*{firstName}" required>
			    <div class="valid-feedback">
			      Looks good!
			    </div>
			  </div>
			  
			  
				<div class="col-md-2">
				    <label for="phone" class="form-label">Phone</label>
				    <input type="text" class="form-control" th:field="*{phone}" required>
				    <div class="valid-feedback">
				      Looks good!
				    </div>
				</div>
				
				<div class="col-md-4">
				    <label for="address" class="form-label">Address</label>
				    <input type="text" class="form-control" th:field="*{address}" required>
				    <div class="valid-feedback">
				      Looks good!
				    </div>
				</div>
			 
			  <div class="col-12" style="text-align: center;">
			    <button class="btn btn-warning" type="submit"><i class="fas fa-plus"></i> Edit</button>
			  </div>
			</form>
		  
		  </div>
		  <div class="card-footer text-muted">
		   <a class="btn btn-danger" th:href="@{/deliverymans/new}" role="button"><i class="fas fa-plus-circle"></i></a>
		  </div>
		</div>
	</section>
	
	</main>
	<footer th:replace="layout/layout :: frag-footer"></footer>
</body>
</html>