<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header th:insert="layout/layout :: frag-header"></header>
	<div th:replace="/layout/layout :: frag-sidebar"></div>
	<main>

		<section class="section">
			<nav style="-bs-breadcrumb-divider: '&gt;';" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">DeliveryMan</li>
				</ol>
			</nav>

			<div class="card text-center">
				<div class="card-header">DeliveryMan</div>
				<div class="card-body">

					<div class="row">
						<div th:each="deliveryman : ${deliverymans}" class="col-sm-4">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title"
										th:text="${deliveryman.firstName} + ' ' + ${deliveryman.lastName}">Special
										title treatment</h5>
									<p class="card-text">With supporting text below as a
										natural lead-in to additional content.</p>
									<a class="btn btn-warning"
										th:href="@{'/deliverymans/' + ${deliveryman.id} + '/edit'}"
										role="button"><i class="fas fa-cog"></i> Edit</a> <a
										class="btn btn-danger"
										th:href="@{'/deliverymans/' + ${deliveryman.id} + '/delete'}"
										role="button"><i class="fas fa-trash"></i> Delete</a>
								</div>
							</div>
						</div>

						


				</div>
				
			</div>
		</section>

	</main>
	<footer th:replace="layout/layout :: frag-footer"></footer>
</body>
</html>