<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header th:insert="layout/layout :: frag-header"></header>
	<div th:replace="/layout/layout :: frag-sidebar"></div>
	<main>

		<section class="section">
			<nav style="-bs-breadcrumb-divider: '&gt;';" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">DeliveryMan</li>
				</ol>
			</nav>

			<div class="card text-center">
				<div class="card-header">DeliveryMan</div>
				<div class="card-body">
					<div class="card-footer text-muted text-end">
						<a class="btn" style="background-color: red; color: white"
							th:href="@{/deliverymans/new}" role="button"> <i
							class="fas fa-plus"></i> Crear nuevo repartidor
						</a>
					</div>
					<div class="row">
						<div th:each="deliveryman : ${deliverymans}" class="col-sm-4">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title"
										th:text="${deliveryman.firstName} + ' ' + ${deliveryman.lastName}">Special
										title treatment</h5>
									<p class="card-text"><img th:src="${deliveryman.photo}" style="width: 150px; height: 150px;"></p>
									<p><i class="fas fa-house"></i> Se encuentra alojado en <span th:text="${deliveryman.address}"></span></p>
									<p><i class="fas fa-at"></i> Su email de contacto es : <span th:text="${deliveryman.email}"></span></p>
									<p><i class="fas fa-phone-alt"></i> Su numero de contacto es : <span th:text="${deliveryman.phone}"></span></p>
									
									<p></p>
									<a class="btn btn-warning"
										th:href="@{'/deliverymans/' + ${deliveryman.id} + '/edit'}"
										role="button"><i class="fas fa-cog"></i> Edit</a> <a
										class="btn btn-danger"
										th:href="@{'/deliverymans/' + ${deliveryman.id} + '/delete'}"
										role="button"><i class="fas fa-trash"></i> Delete</a>
								</div>
							</div>
						</div>

						


				</div>
				
			</div>
		</section>

	</main>
	<footer th:replace="layout/layout :: frag-footer"></footer>
</body>
</html>